<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/layout.css")
    block styles
    title DWG Simple Headless CMS
  body
    include includes/header.pug
    main.main
      block content
    block scripts